{
    "node": [
        "pi-k8s-timmy",
        "pi-k8s-sally"
    ],
    "person": [
        "Timmy",
        "Sally"
    ],
    "text": [
        "time for dinner"
    ],
    "language": [
        "en"
    ]
}